/* for large to medium screens from 1200px and down */
@media screen and (max-width: 1200px) {

    #all-recipes-background {
        background-position: none;
        margin-top: 3%;
        width: 100%;
        height: 1000px;
    }

    #soups,
    #pastas,
    #stews,
    #baking {
        width: 50%;
        height: 30%;
        margin-top: 5%;
    }

    #all-recipes-title {
        padding-top: 7%;
        padding-left: 7%;
    }

    #home-background {
        width: 100%;
        height: 1000px;
        margin: 0 auto;
    }

}

/* for medium size screens 950px wide and down */
@media screen and (max-width: 950px) {

    header {
        text-align: center;
    }

    #plate-styles ul {
        text-align: center;

    }

    #plate-styles li {
        
        width: 50%;

    }

    .cooking-steps-text {
        padding-left: 6%;
    }
}

@media screen and (max-width: 500px) {
    #plate-styles li {
        width: 64%;
    }
}