

/* for large to medium screens from 1200px and down */
@media screen and (max-width: 1200px) {
    #all-recipes-background {
        background-position: none;
        margin-top: 2%;
        
    }

    #all-recipes-title {
        padding-top: 7%;
        padding-left: 7%;
    }
    #home-background {
        width: 100%;
        height: 1000px;
        margin: 0 auto;
    }
    #soups, #pastas, #stews, #baking {
        width: 100%;
        height: 30%;
       
        
    }
    

}

/* for medium size screens 950px wide and down */
@media screen and (max-width: 950px) {
    .plate-styles {
        column-count: 1;
}

#home-background {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
}

#main-title {
    color: red;
}
}