
/* chinese-soup img */
#chinese-soup-img {
    background: url('../images/each-recipe-picture/chinese-soup.jpg')no-repeat;
    display: block;
    max-width: 50%;
    height: 14px;
    padding-bottom: 35%;
    background-size: 99%;
    position: center;
    
}

/* general styles for all recipes and images */ 
.recipe-page {
    margin-bottom: 2rem;
}

* {
    box-sizing: border-box;
}

.wrap-container {
    width: 80rem;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.recipe-headers_title {
    color: #3f3f3f;
    max-width: 100%;
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: .0125rem;
}

.recipe-headers_wrapper > p {
    color: inherit;
    max-width: 100%;
    font-size: 20px;
    line-height: 4.5rem;
    letter-spacing: .0125rem;
}
#chinese-soup-body {
    box-sizing: border-box;
    margin: 0;
    overflow-y: scroll;
    width: 100%;
    padding-top: 20px;
    text-align: -webkit-center;
}
    
.section-heading-name {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.75rem;
    letter-spacing: .0125rem;
    color: #3a3a3a;
    padding-bottom: 2%;
    text-align: center;
    font-weight: bold;
}

.ingredients-list-group li {
    list-style-type: circle;
    list-style-position: inside;
    color: #3a3a3a;
    font-family: Archivo;
    text-align: center;
    font-size: 150%;
    
}