
/* chinese-soup img */
#chinese-soup-img {
    height: 300px;
    max-width: 100%;
    background: url('../images/each-recipe-picture/chinese-soup.jpg')no-repeat;
}

/* general styles for all recipes and images */ 
.recipe-page {
    margin-bottom: 2rem;
}

* {
    box-sizing: border-box;
}

.wrap-container {
    width: 80rem;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

