/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap'); 

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* title and nav styling */ 

#main-title {
    font-family: Archivo;
    font-weight: bold;
    color: #fafafa;
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
}

#menu {
    margin-left: 1%;
    padding: 1px;
}

#menu li, a {
    list-style-type: none;
    text-decoration: none;
    font-size: 130%;
    font-family: Archivo;
    font-weight: bold;
    float: left;
    padding: 8px;
    
}

/* home background and picture plates */

#home-background {
    height: 600px;
    width: 100%;
    margin-top: 2%;
    background: url('../images/home-picture.jpg');
}