/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap'); 
* {
    margin: 0;
    padding: 0;
    border: 0;
}
#main-title {
    font-family: Archivo;
    font-weight: 300;
}

/* home picture */

#home-image {
    height: 600px;
    width: 100%;
    background: url('../images/home-picture.jpg');
}