/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap'); 

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* title and nav styling */ 

#main-title {
    font-family: Archivo;
    font-weight: bold;
    color: #fafafa;
    font-size: 48px;
    text-align: center;
}
#all-recipes-title {
    font-family: Archivo;
    font-weight: bold;
    color: #fafafa;
    font-size: 48px;
    text-align: center;
    padding-right: 19%;
}
#menu {
    margin-left: 1%;
    padding: 10px;
    position:top;
}

#menu li, a {
    color: #3a3a3a;
    list-style-type: none;
    text-decoration: none;
    font-size: 100%;
    font-family: Archivo;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    padding: 8px; 
}


/* backgrounds and plate pictures */

#home-background {
    overflow: hidden;
    height: 350px;
    width: 100%;
    margin-top: 2%;
    background: url('../images/backgrounds/home-picture.jpg');
}

#all-recipes-background {
    height: 350px;
    width: 100%;
    margin-top: 2%;
    background: url('../images/backgrounds/all-recipes.jpg');
    background-size: cover;
    background-position: center;
}

#soups_img {
    background: url('../images/plates/soup-plate.png')no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: contain;
}

#pastas_img {
    background: url('../images/plates/pasta-plate.png')no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: contain;
}
/* size and position rules for plates */
#food_plates {
    width: 100%;
    height: 100%;
    padding-top: 2%;
}
.plate-styles {
    height: 50%;
    width: 30%;
    text-align: center;
    float: left;
}

.plate-styles h2 {
    color: #fafafa;
    padding: 8px; 
}
/* footer style */
.social-links {
    list-style-type: none;
    font-family: Archivo;
    font-weight: bold;
    padding: 10px;
}